<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  
  <div>
      <label>Email</label><br>
      <input name="email" formControlName="userEmail" />

      @if(myForm.controls["userEmail"].invalid && myForm.controls["userEmail"].touched)
      {
          <div class="alert">Некорректный email</div>
      }
  </div>
  <div>
    <label>Пароль</label><br>
      <input name="password" formControlName="userPassword" />

      @if(myForm.controls["userPassword"].invalid && myForm.controls["userPassword"].touched){
          <div class="alert">  Пароль должен быть не менее 11 символов</div>
      }
  </div>
  <button [disabled]="myForm.invalid">Отправить </button>
</form>
