<div>
  <p>
      <label>Имя пользователя</label><br>
      <input name="name" [(ngModel)]="newUser.name" />
  </p>
  <p>
      <label>Возраст</label><br>
      <input type="number" name="age" [(ngModel)]="newUser.age" />
  </p>
  <p>
      <label>Место работы</label><br>
      <select name="company" [(ngModel)]="newUser.company">
      @for(comp of companies; track $index){
          <option [value]="comp">
              {{comp}}
          </option>
      }
      </select>
  </p>
  <button (click)="addUser()">Добавить</button>
</div>
<div>
<h3>Добавленные элементы</h3>
<ul>
@for(u of users; track $index){
  <li>{{u.name}} ({{u.company}}) - {{u.age}}</li>
}
</ul>
</div>

